.home_Main_Container{
    margin:0 15px;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    flex-direction: column;
    overflow: hidden;
}
.buttons_Container{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px
}
.AboutUs_Button{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    background-color: rgba(59, 108, 33, 0.413);
    padding: 2px 3px;
    padding-left: 5px;
    border-radius: 9px;
    font-family: serif;
    font-weight: 300;
    transition: 300ms;
}
.AboutUs_Button:hover{
    background-color:rgb(59, 108, 33) ;
    color:#ECECEC;
    .svg_container{
        background-color: #ECECEC;
    }
    svg{
        stroke: rgb(59, 108, 33);
    }
}
.svg_container{
    background-color: rgb(59, 108, 33);
    border-radius: 50%;
}
.explore_Button{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    color: #ECECEC;
    background-color: #3d3b3b86;
    padding: 2px 3px;
    border-radius: 3px;
    font-family: serif;
    font-weight: 300;
    transition: 300ms;
}
.explore_Button:hover{
    background-color: #3d3b3b;
}
/* From Uiverse.io by gharsh11032000 */ 
.animated_button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: greenyellow;
  box-shadow: 0 0 0 2px greenyellow;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button svg {
  position: absolute;
  width: 24px;
  fill: greenyellow;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button .arr_1 {
  right: 16px;
}

.animated_button .arr_2 {
  left: -25%;
}

.animated_button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated_button:hover .arr_1 {
  right: -25%;
}

.animated_button:hover .arr_2 {
  left: 16px;
}

.animated_button:hover .text {
  transform: translateX(12px);
}

.animated_button:hover svg {
  fill: #212121;
}

.animated_button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated_button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}



/* From Uiverse.io by ryota1231 */ 
.animated_button1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button1 svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button1 .arr_11 {
  right: 16px;
}

.animated_button1 .arr_21 {
  left: -25%;
}

.animated_button1 .circle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button1 .text1 {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button1:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated_button1:hover .arr_11 {
  right: -25%;
}

.animated_button1:hover .arr_21  {
  left: 16px;
}

.animated_button1:hover .text {
  transform: translateX(12px);
}

.animated_button1:hover svg {
  fill: #1f387e;
}

.animated_button1:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated_button1:hover .circle1 {
  width: 220px;
  height: 220px;
  opacity: 1;
}

